<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="ProductCard-desc" th:fragment="bookDesc(book)">
    <div class="ProductCard-header">
        <h1 class="ProductCard-title" th:text="${book.title}">
        </h1>
        <div class="ProductCard-author"><span class="ProductCard-titleProp">Автор:</span>&#32;<a
                href="#" th:href="'/authors/'+ ${book.getAuthor().name}" th:text="${book.getAuthor().name}" >Лия
            Арден</a>
        </div>
        <div class="ProductCard-rating"><span class="ProductCard-titleProp">Рейтинг:</span>
            <button class="trigger trigger_dropdown" type="button">
                <div class="Rating Rating_noStyleLink">
                    <span class="Rating-stars">
                    <span  th:each="i : ${#numbers.sequence(1,5)}" th:attr="class=${i > book.getMeanRatingsCount} ? 'Rating-star' : 'Rating-star Rating-star_view'" class="Rating-star" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span>
                 </div>
                </svg></span></span><span class="Rating-title" th:text="${book.getRatings().size()}">(567)</span>
                <div class="modal modal_compression modal_dropdown">
                    <div class="modal-window"><a class="modal-close" href="#"><span></span><span></span></a>
                        <strong class="modal-title">Распределение оценок</strong>
                        <div class="RatingGroup"><span class="Rating">
                            <span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span>
                                <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"  th:text="${book.getStarRatingsCount(5)}">1</span></span><br><span
                                class="Rating"><span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"  th:text="${book.getStarRatingsCount(4)}">4</span></span><br><span
                                class="Rating"><span class="Rating-stars"><span
                                class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title"  th:text="${book.getStarRatingsCount(3)}">0</span></span><br><span

                                class="Rating"><span class="Rating-stars"><span
                                class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${book.getStarRatingsCount(2)}">10</span></span><br><span class="Rating"><span class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000"
                                            d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${book.getStarRatingsCount(1)}">3</span></span>
                        </div>
                    </div>
                </div>
            </button>
        </div>
        <div class="ProductCard-assessment" >
            <span class="ProductCard-titleProp">Оцените книгу:</span><span class="Rating Rating_input" th:attr="data-bookid=${book.slug}">
            <span class="Rating-stars"><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input th:attr="data-bookid=${book.slug}" name="rating" type="radio" value="1"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input  th:attr="data-bookid=${book.slug}" name="rating" type="radio" value="2"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input  th:attr="data-bookid=${book.slug}" name="rating" type="radio" value="3"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input  th:attr="data-bookid=${book.slug}" name="rating" type="radio" value="4"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input  th:attr="data-bookid=${book.slug}" name="rating" type="radio" value="5"/></span></span>
        </div>
        <div class="ProductCard-tags"><span class="ProductCard-titleProp">Тэги:</span>
            <a th:each="tags :${book.getTags()}" th:href="'/books/tags/' +${tags.getSlug()}" th:text="${tags.title} + '&#32;' + ','" href="/tags/">Современные</a>
        </div>
        <div class="ProductCard-cost"><span class="ProductCard-titleProp">Цена:</span><span
                class="ProductCard-priceOld" th:text="${book.price}">₽300</span><span class="ProductCard-price" th:text="${book.discountPrice}">₽180</span>
        </div>
    </div>
    <div class="ProductCard-text">
        <p th:text="${book.description}"></p>
    </div>
    <div th:replace="~{fragments/book_slug_buttons_fragment :: panel}"></div>
</div>
</html>