<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud(tags)">

    <div th:each="tag:${tags}"
         th:class="${tag.books.size() < 200 ? 'Tag Tag_sm' : (tag.books.size() < 220  ? 'Tag Tag_md' : 'Tag Tag_lg')}"
         class="Tag Tag_xs">
        <a th:text="${tag.title + ' ' + tag.books.size()}" th:href="'books/tags/' + ${tag.slug}">современная литература</a>
    </div>
    <!-- Вывод тегов должен осуществляться по след шаблону:
        <div class="Tag Tag_sm"><a href="/tags/index.html">классическая литература</a>
        </div>
        <div class="Tag"><a href="/tags/index.html">зарубежная литература</a>
        </div>
        <div class="Tag Tag_md"><a href="/tags/index.html">фэнтези</a>
        </div>
        <div class="Tag Tag_lg"><a href="/tags/index.html">английская литература</a>
        </div>
        -->
</div>
</html>